@media (max-width: 58em) {
  .password-window {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 42em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 34em) {
  .heading {
    margin-top: 40rem;
    font-size: 4rem;
    text-shadow: 0 0 1px #05e851, 0 1px #05e851;
  }
  .length-value,
  label {
    font-size: 3rem;
    text-shadow: 0 0 1px #05e851, 0 0 1px #05e851;
  }
  .length {
    width: 80%;
  }
  .length::-webkit-slider-thumb {
    width: 28px;
    height: 28px;
    margin-top: -10px;
  }
  .length::-webkit-slider-runnable-track {
    height: 8px;
  }

  .password-window {
    top: 70%;
  }

  .password-generated {
    text-shadow: none;
    letter-spacing: 1rem;
  }
}

@media (max-width: 30em) {
  .fa-circle-xmark {
    margin-left: 90%;
  }
}

@media (max-width: 28em) {
  html {
    font-size: 37.5%;
  }
}

@media (max-width: 20em) {
    html {
      font-size: 25%;
    }
  }
